*, *::before, *::after {
    box-sizing: border-box;
  }
/**/
*, *::before, *::after 
{
    box-sizing: border-box;
    list-style: none ;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 400;
}
body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
ul
{
    padding: 0;
    margin: 0;
}
.menu_box
{
    max-width:1400px ;
    background-color: #062F35;
    height: 30px;
    position: absolute;
    left: 0;
    right: 0;
}

.head_menu
{
    position: relative;
    max-width:1066px ;
    height: 30px;
   
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
    
    
}  
.header_burger
{
    display: none;
    position: absolute;
    width: 30px;
    height: 20px;
    z-index: 50;
    margin-top: 5px;
    right: 16px;
   
    

}
.logo
{
    background:url(./image/Лого.png) ;
    width: 24px;
    height: 18px;
    background-repeat: no-repeat;
    margin-top: 5px;
    margin-left: 5px;
}
.menu_list
{
    position: relative;
    width:692px ;
    display: flex;
   
    align-items: center;
    gap: 40px;
    padding-top: 4px;
    transition: all ease 0.5s;
}

.mobil_link
{
    display: none;
}

.FAQ
{
    position: absolute;
    right: 0;
    bottom: 0;
}
/**/
body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a
{
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
}
li
{
    list-style: none;
    
}
ul
{
    margin: 0;
    padding: 0;
}
h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: -0.02em;
    text-align: center;
   
}
h2
{
    font-family: 'Roboto', sans-serif;
    font-size: calc(14px + 22 *(100vw/1900));
    line-height: calc(18px + 27 *(100vw/1900));
    font-weight: 400;
    letter-spacing: 0.015em;
    text-align: center;
    color: rgb(0, 0, 0);
}
p
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
    color: rgb(0, 0, 0);
}
span{
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: 600;
}
input[type="text"] {
    
    margin: 0; 
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.015em;
    text-align: left;
    padding: 10px 0;
   
   
  }
.page
{
    max-width: 1400px;
    height: 1440px;
    background-color: #CCF4F9;
    margin: 0 auto;
    position: relative;
}  
.wrapper
{
    position: absolute;
    top: 470px;
    right: 205px; 
       text-align: center;
    max-width: 600px;
    height: 680px;
    margin: 20px auto auto;
    background-color: rgba(238, 238, 238, 0.18);
    padding-left: 10px;
    padding-right: 10px;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08);
}
.title_box
{
    margin: 0 auto;
    max-width: 840px;
}
.title
{
    padding-top: 20px;
    color: rgb(0, 0, 0);
    max-width: 1400px;
    margin: 100px auto 0;
    background-color: rgba(238, 238, 238, 0.18);
    -webkit-box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.08);
    -moz-box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.08);
    box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.08);
}

.h2_one
{
    color: #FC6E6E;
    font-size: calc(17px + 18 *(100vw/1900));
    line-height: calc(18px + 27 *(100vw/1900));
    font-weight: 600;
    
}
.input_check
{
    max-width: 275px;
    margin: 20px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 51px;

}
.check_box
{
    display: flex;
    justify-content: space-between;
    gap: 20px;
   
}
.line
{
    height: 32px;
    border-left:1px solid rgb(0, 0, 0) ;
}
.form
{
    max-width: 360px;
    margin: 20px auto 0;
}
.form_item
{
    border-bottom: 1px solid black;
}
.text-field
{
    position: relative;
}
.text-field__input
{
    position: relative;
    background-color: #ffffff00;
    border: none;
    border-bottom: 1px solid black;
    width: 360px;
    
}
.pass_one
{
    position:absolute;
    width: 15px;
    top: -29px;
    left: 2px;
    
}
.pass_two
{
    position: absolute;
    width: 15px;
    top: 14px;
    left: 2px;
    

}
#confrim
{
 padding-left: 19px;
}
#password
{
 padding-left: 22px;
}
.fargot p
{
    font-size: 12px;
}
.check_box_fargot
{
    gap:5px;
}
.input_check_fargot
{
    max-width: 350px;
    justify-content: space-between;
    margin-top: 1px;
}
button
{
    
    margin-top: 20px ;
    border: 1px solid #FC6E6E;
    background-color: #ffffff00;
    border-radius: 5px;
    text-transform: uppercase;
}
button h2
{
    margin: 0px;
    padding: 12px 40px;
}
.characters
{
    margin: 0 auto;
}


.head_mobil
{
    display: none;
}
/**/
footer
{
    background-color:black;
    max-width: 1400px;
    margin: 0 auto;
    height: 200px;
    padding-top: 55px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.footer
{
    display: flex;
    max-width: 1050px;
    justify-content: space-between;
    margin: 0 auto;

}
.one
{
    font-size: calc(10px + 5 *(100vw/1900));
    line-height: calc(20px + 4 *(100vw/1900));
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}
.logo_footer
{
    width: 25px;
    height: 16px;
}


.two
{
    font-size: calc(10px + 5 *(100vw/1400));
    line-height: calc(20px + 4 *(100vw/1400));
    text-transform: uppercase;
}
.two span
{
    font-size: calc(10px + 5 *(100vw/1400));
    line-height: calc(20px + 4 *(100vw/1400));
    text-transform: uppercase;
    color:#FC6E6E;
}
.menu_footer
{
    align-items: flex-start;
}
.four
{
    font-size: calc(8px + 8 *(100vw/1400));
    line-height: calc(8px + 8 *(100vw/1400));
}
.phone
{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.phone a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer_ikon
{
    display: flex;
    justify-content: space-between;
}

@media(max-width:770px){

.title
{
    margin: 20px 16px 68px;
}    
.title_box
{
    max-width: 360px;
    
}
    .head_menu
{
    position: relative;
    width:100%;
    height: 30px;
    background-color:#062F35;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
} 
.header_burger
{
    display: block;
}
.menu_list
{
    width:140px ;
    max-height: 290px;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 0;
    position: fixed;
    right: -155px;
    top: 30px;
    background-color: #CCF4F9;
    border: 2px solid white;
    -webkit-box-shadow: -9px 12px 8px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -9px 12px 8px 0px rgba(0, 0, 0, 0.29);
    box-shadow: -9px 12px 8px 0px rgba(0, 0, 0, 0.29);
    z-index: 20;
}
.active
{
   
    transform: translateX(-155px);
    transition: all ease 0.4s;
   
}
.header_link
{
 border-bottom: 1px solid black;
 padding-top: 10px;
 padding-bottom: 10px;
 font-size: 13px;
 font-weight: 400;
}

.mobil_link
{
    display: flex;
    color: black;
}
.desktop_link
{
    display: none;  
}

.header_burger span
{
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    z-index: 50;
    background-color: white;
    top: 10px;

}

.header_burger::after,
.header_burger::before
{
    content:'';
    position: absolute;
    left: 0;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 2px;
    transition: all 0.3s ease  0s;
}
.header_burger::after
{
    top: 0;
}
.header_burger::before
{
    bottom: 0;
}
.header_burger.activeA::after
{
    top: 10px;
    transform:rotate(45deg); 
    transition: all 0.3s ease  0s;
}
.header_burger.activeA::before
{
    bottom: 8px;
    transform:rotate(-45deg);
    transition: all 0.3s ease  0s;
}
.header_burger.activeB span
{
    transform: scale(0);
    
}
.page
{
    height: 980px;
}
.wrapper 
    {
       position: relative;
       left: 0;
       right: 0;
       top: 0;
       background-color: #ffffff00;
       box-shadow: none;
    }
}
/**/
@media (max-width:600px)

{
    a
    {
        color:white;
        font-size: 10px;
    }
    .two
    {
        display: none;
    }
footer
{
    display: flex;
    height: 100px;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 0;
}
.footer
{   
    margin: 10px 16px;
    width: 380px;
}
.logo_footer 
{
    width: 20px;
    height: 10px;
}
.foot_text
{
    font-size: 10px;
}

.menu_item
{
    padding-top: 5px;
}
.face
{
    width: 40px;
    height: 40px;
}
.inst
{
    width: 40px;
    height: 40px;
}
.yout
{
    width: 40px;
    height: 40px;
}
.menu_item
    {
        
        font-size: 10px;
        font-weight: 400;
        line-height: 10px;
        letter-spacing: 0.02em;
        text-align: center;
        color: rgb(255, 255, 255);

    }
}

@media (max-width:440px)
{
    
    .wrapper 
    {
        margin: 0 auto;
    }
    button
    {
        margin: 30px auto;
    }
}
