body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
}
.contain
{
    background-size:contain;
    background-repeat:no-repeat;
}
.cover
{
    background-size:cover;
    background-repeat:no-repeat;
}
.top
{
    max-width: 1400px;
    margin: 0 auto;
    box-sizing:border-box;
    height: 100vh;
    background: url(./image/Image.svg);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    left: 0;
    top: 0;    
}
.head
{
    box-sizing: border-box;
    display: flex;
}
.ikon
{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    width: 20%;
   

}
.ikon_logo
{
    width: 35px;
    height: 35px;
    background-image:url(./image/Vector.png);
}
nav
{
    width: 75%;
}
.menu
{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    gap: 21px;
}
.menu_item
{
    list-style: none;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    font-size: 1em;
}
.faq
{
    width: 20%;
    display: flex;
    justify-content: flex-start;
   
}
.faq_item
{
    list-style: none;
    margin-top: 65px;
}
.first_page
{
    display: flex;
    justify-content: space-between;
    margin: 170px auto 0;
    max-width: 74%;

}

.eclips_one
{
    background-image: url(./image/Ellipse.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 110px;
    left: 18%;

}
.eclips_two
{
    background-image: url(./image/Ellipse.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 900px;
    left: 38%;

}
.first_page_title
{
    font-size: calc(24px + 16 *(100vw/1400));
    line-height: calc(24px + 14 *(100vw/1400));
    font-weight: 600;
    max-width: 426px;
}
.first_page_title span
{
    font-size: calc(24px + 16 *(100vw/1400));
    line-height: calc(24px + 14 *(100vw/1400));
    font-weight: 600;
    max-width: 426px;
    color:#FC6E6E;
}
.first_page_description
{
    box-sizing:border-box;
    margin-top: 20px;
    font-size: calc(15px + 10 *(100vw/1400));
    line-height: calc(18px + 14 *(100vw/1400));
    max-width: 426px;
    
    
}
.btn
{
    font-size: 1.5em;
    max-width: 400px;
    color:#ffff;
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid #FC6E6E;
    padding: 10px 50px;
}
.btn_first
{
    margin-top: 30px;
}
.btn_two
{
    color: black;
    margin-top: 30px;
}
.link
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inst
{
    width: 50px;
    height: 50px;
    background-image:url(./image/Instagram-Logo.wine.svg);
}
.line_one
{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 93px;
    border-left:1px solid #ffff ;
}
.line_two
{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 26px;
    border-left:1px solid #ffff ;
}
.face
{
    width: 50px;
    height: 50px;
    background-image:url(./image/Facebook-f_Logo-Grey-Logo.wine.svg);
}
.yout
{
    width: 50px;
    height: 50px;
    background-image:url(./image/YouTube-Icon-Almost-Black-Logo.wine.svg);
}
.next
{
    max-width: 1400px;
    background-color:#CCF4F9;
    padding-bottom: 150px;
}
.aboutUs
{
    display: flex;
    justify-content: center;
    max-width: 1050px;
    margin: 0 auto;

}
.aboutUs_video
{
    width: 430px;
    height: 360px;
    background-image:url(./image/Image\ \(2\).png);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 8.87em;
}
.aboutUs_content
{
    margin-left: 110px;
    max-width: 460px;
    margin-top: 7.3em;
}
.aboutUs_title span
{
    font-size: calc(24px + 16 *(100vw/1400));
    line-height: calc(24px + 14 *(100vw/1400));
    font-weight: 600;
    max-width: 462px;
    color:#FC6E6E;
}
.aboutUs_title 
{
    font-size: calc(24px + 16 *(100vw/1400));
    line-height: calc(24px + 14 *(100vw/1400));
    font-weight: 600;
    max-width: 462px;
    color: black;
}
.aboutUs_descr
{
    box-sizing:border-box;
    font-size: calc(15px + 10 *(100vw/1400));
    line-height: calc(18px + 14 *(100vw/1400));
    margin-top: 20px;
    max-width: 430px;
    color: black;
}
.gen_head
{
    margin-top: 131px;
    font-size: calc(22px + 8 *(100vw/1400));
    line-height: calc(18px + 14 *(100vw/1400));
    letter-spacing: 0.085em;
    text-align: center;
    color: black;
    text-transform:uppercase;
    margin-bottom: 20px;
}
.ikon_field
{
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    padding: 25px;
}
.ikon_item
{
    width: 77px;
    height: 130px;
    margin-right: 20px;
}
.ikon_item_one{
    background-image:url(./image/Group\ left.png);
}
.ikon_item_two{
    background-image:url(./image/Group\ center.png);
}
.ikon_item_three{
    background-image:url(./image/Group\ right.png);
}
.ikon_box{
    display: flex;
    align-items: center;
}
.ikon_text
{
    line-height: 1.2em;
    font-size: 1.2em;
    color: black;
    text-align: center;
}
.bottom_img
{
    height: 430px;
    max-width: 1050px;
    background-image:url(./image/Image\ two.png);
    margin: 130px auto 130px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.img_title span
{
    line-height: 1.2em;
    font-size: 1em;
    font-weight: 600;
    max-width: 462px;
    color:#FC6E6E;
    text-align: center;
}
.img_title 
{
    line-height: 1.2em;
    font-size: 2.5em;
    font-weight: 600;
    max-width: 462px;
    text-align: center;
}
.ikon_item_four {
    background-image:url(./image/Group\ 46.png);
}
.ikon_item_five {
    background-image:url(./image/Group\ 47.png);
}
.ikon_item_six {
    background-image:url(./image/Group\ 48.png);
}
footer
{
    background-color:black;
    max-width: 1400px;
    margin: 0 auto;
    height: 200px;
}
@media (max-width:850px)
{
    .eclips_one
    {
        width: 200px;
        height: 200px;
    }
    .eclips_two
    {
        width: 200px;
        height: 200px;
    }
}