body
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #ffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0 auto;
    position: relative;
    max-width: 1400px;
}
a
{
    cursor: pointer;
}
/*--------------MOBIL MENU---------------------------*/
input {display: none;}
label {cursor: pointer;}

.nav {user-select: none;}

.nav__showmenu {
    position: relative;
    z-index: 3;
    display: inline-block;
    margin-left: 256px;
    padding: 5px 10px 10px;
    top: -6px;
    font-size: 23px;
}

.nav__back {
    position: fixed;
    top: 0;
    right: 0;  
    bottom: 0;
  
}

.menu, .menu__submenu{
    list-style: none;
    padding: 0;
    color: #fff;
    overflow: hidden;
  }

.menu {
    position: fixed;
    top: 30px;
    bottom: 0;
    right: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 138px;
    height: 290px;
    margin: 0;
    text-transform: uppercase;
    line-height: 2em;
    background-color: #CCF4F9;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transform: translateX(180px);
    transition: transform .5s;
    will-change: transform;
    backface-visibility: hidden;
    z-index: 4;
    border: 2px solid white;
    -webkit-box-shadow: -9px 12px 8px 0px rgba(0, 0, 0, 0.29);
    -moz-box-shadow: -9px 12px 8px 0px rgba(0, 0, 0, 0.29);
    box-shadow: -9px 12px 8px 0px rgba(0, 0, 0, 0.29);
    
}

.menu__submenu {
    font-size: .8em;
    background-color: #ddd;
    max-height: 0;
    transition: max-height .3s ease-in-out;
}

.menu__showsub {
    position: absolute;
    right: 0;
    margin-top: -34px;
    padding: 10px;
    line-height: normal;
}

.menu__item {  
    display: block;
    text-align: center;
    text-decoration: none;
    color: rgb(0, 0, 0);
    border-bottom:1px solid black;
    max-width: 68px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    padding-bottom: 10px;
    text-transform: none;
}
.menu_login
{
    font-weight: 600;
    border: none;
    font-size: 16px;
    
    
}
.menu_sing
{
    font-weight: 600;
    font-size: 16px;
}

.menu__submenu .menu__item {color: #000;}

.nav__check:checked~.nav__back {
    background-color: rgba(0,0,0,.2);
    bottom: 0;
}

.menu__item:hover,.nav__showmenu:hover,.menu__showsub:hover {opacity: 0.7;}
.menu::-webkit-scrollbar {display: none;}
.nav__check:checked+.nav__showmenu {color:#fff;}
.menu__check:checked~.menu__submenu {max-height: 100vh;}
.menu__check:checked+.menu__showsub {transform: rotate(180deg);}
.nav__check:checked~.menu {transform: translateX(0);}
/*----------------------------*/
.menu_top
{
    display: flex;
    justify-content: space-between;
    max-width: 500px;
    margin: 55px auto 0;
}
ul
{
    padding: 0;
    margin: 0;
}
.contain
{
    background-size:contain;
    background-repeat:no-repeat;
}
.cover
{
    background-size:cover;
    background-repeat:no-repeat;
}

.top
{
    max-width: 1400px;
    margin: 0 auto;
    box-sizing:border-box;
    height: 100vh;
    background: url(./image/boat.png);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    left: 0;
    top: 0;    
}
.head_desk
{
    box-sizing: border-box;
    display: flex;
}
.head_mobil
{
    display: none;
}
.ikon
{
    display: flex;
    justify-content: flex-end;
    align-items:flex-end;
    width: 20%;
   

}
.ikon_logo
{
   
    width: 35px;
    height: 35px;
    background-image:url(./image/Vector.png);
}
nav
{
    width: 75%;
}

.menu_footer
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.menu_item
{
    font-size: calc(8px + 6 *(100vw/1400));
    line-height: calc(8px + 6 *(100vw/1400));
    list-style: none;
    letter-spacing: 0.02em;
    text-align: center;
    cursor: pointer;
}
.faq
{
    width: 20%;
    display: flex;
    
   
}
.faq_item
{
    list-style: none;
    margin-top: 65px;
}
.content_mobil
{
    display: none;
}
.first_page
{
    display: flex;
    justify-content: space-between;
    margin: 120px auto 0;
    max-width: 1050px;

}

.eclips_one
{
    background-image: url(./image/Ellipse.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 110px;
    left: 18%;

}
.eclips_two
{
    background-image: url(./image/Ellipse.png);
    background-size: cover;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 900px;
    left: 38%;

}
.first_page_title
{
    font-size: calc(7px + 36 *(100vw/1400));
    line-height: calc(7px + 36 *(100vw/1400));
    font-weight: 600;
    max-width: 426px;
}
.first_page_title span
{
    font-size: calc(7px + 36 *(100vw/1400));
    line-height: calc(7px + 36 *(100vw/1400));
    font-weight: 600;
    max-width: 426px;
    color:#FC6E6E;
}
.first_page_description
{
    box-sizing:border-box;
    margin-top: 20px;
    font-size: calc(10px + 15 *(100vw/1400));
    line-height: calc(10px + 15 *(100vw/1400));
    max-width: 426px;
    
    
}
.btn
{
    font-size: calc(13px + 4 *(100vw/1400));
    
    max-width: 400px;
    color:#ffff;
    background-color:rgba(0, 0, 0, 0);
    border: 2px solid #FC6E6E;
    padding: 10px 50px;
}
.btn_first
{
    margin-top: 30px;
}
.btn_two
{
    color: black;
    margin-top: 30px;
}
.link
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inst
{
    width: 50px;
    height: 50px;
    background-image:url(./image/Instagram-Logo.wine.svg);
}
.line_one
{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 93px;
    border-left:1px solid #ffff ;
}
.line_two
{
    margin-bottom: 10px;
    margin-top: 10px;
    height: 26px;
    border-left:1px solid #ffff ;
}


.face
{
    width: 50px;
    height: 50px;
    background-image:url(./image/Facebook-f_Logo-Grey-Logo.wine.svg);
}
.yout
{
    width: 50px;
    height: 50px;
    background-image:url(./image/YouTube-Icon-Almost-Black-Logo.wine.svg);
}
.next
{
    max-width: 1400px;
    background-color:#CCF4F9;
    padding-bottom: 150px;
}
.aboutUs
{
    display: flex;
    justify-content: left;
    max-width: 1050px;
    margin: 0 auto;

}
.aboutUs_video
{
    width: 430px;
    height: 360px;
    background-image:url(./image/Image\ \(2\).png);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 8.87em;
}
.aboutUs_content
{
    margin-left: 110px;
    max-width: 460px;
    margin-top: 7.3em;
}
.about_title span
{
    font-size: calc(7px + 33 *(100vw/1400));
    line-height: calc(7px + 33 *(100vw/1400));
    font-weight: 600;
    max-width: 462px;
    color:#FC6E6E;
}
.about_title 
{
    font-size: calc(7px + 33 *(100vw/1400));
    line-height: calc(7px + 33 *(100vw/1400));
    font-weight: 600;
    max-width: 462px;
    color: black;
}
.aboutUs_descr
{
    box-sizing:border-box;
    font-size: calc(10px + 15 *(100vw/1400));
    line-height: calc(10px + 15 *(100vw/1400));
    margin-top: 20px;
    max-width: 430px;
    color: black;
}

.aboutUs_descr_mobil
{
    display: none;
}
.gen_head
{
    margin-top: 131px;
    font-size: calc(16px + 14 *(100vw/1400));
    line-height: calc(17px + 15 *(100vw/1400));
    letter-spacing: 0.085em;
    text-align: center;
    color: black;
    text-transform:uppercase;
    margin-bottom: 20px;
}
.ikon_field
{
    max-width: 940px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto ;
    padding: 25px;
    flex-wrap: wrap;
}
.ikon_field_mobil
{
    display: none;
}
.ikon_item
{
    width: 77px;
    height: 130px;
    margin-right: 20px;
}
.ikon_item_one{
    background-image:url(./image/Group\ left.png);
}
.ikon_item_two{
    background-image:url(./image/Group\ center.png);
}
.ikon_item_three{
    background-image:url(./image/Group\ right.png);
}
.ikon_box{
    display: flex;
    align-items: center;
}
.ikon_text
{
    font-size: calc(12px + 8 *(100vw/1400));
    line-height: calc(13px + 9 *(100vw/1400));
    color: black;
    text-align: center;
}
.bottom_img
{
    height: 430px;
    max-width: 1050px;
    background-image:url(./image/Image\ two.png);
    margin: 130px auto 130px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
}
.img_title span
{
    font-size: calc(7px + 33 *(100vw/1400));
    line-height: calc(7px + 33 *(100vw/1400));
    font-weight: 600;
    max-width: 462px;
    color:#FC6E6E;
    text-align: center;
}
.img_title 
{
    font-size: calc(7px + 33 *(100vw/1400));
    line-height: calc(7px + 33 *(100vw/1400));
    font-weight: 600;
    max-width: 462px;
    text-align: center;
}
.ikon_item_four {
    background-image:url(./image/Group\ 46.png);
}
.ikon_item_five {
    background-image:url(./image/Group\ 47.png);
}
.ikon_item_six {
    background-image:url(./image/Group\ 48.png);
}
footer
{
    background-color:black;
    max-width: 1400px;
    margin: 0 auto;
    height: 200px;
    padding-top: 55px;
    
}
.footer
{
    display: flex;
    max-width: 1050px;
    justify-content: space-between;
    margin: 0 auto;

}
.one
{
    font-size: calc(10px + 5 *(100vw/1400));
    line-height: calc(20px + 4 *(100vw/1400));
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}
.logo_footer
{
    width: 25px;
    height: 16px;
}


.two
{
    font-size: calc(10px + 5 *(100vw/1400));
    line-height: calc(20px + 4 *(100vw/1400));
    text-transform: uppercase;
}
.two span
{
    font-size: calc(10px + 5 *(100vw/1400));
    line-height: calc(20px + 4 *(100vw/1400));
    text-transform: uppercase;
    color:#FC6E6E;
}
.menu_footer
{
    align-items: flex-start;
}
.four
{
    font-size: calc(8px + 8 *(100vw/1400));
    line-height: calc(8px + 8 *(100vw/1400));
}
.phone
{
    margin-bottom: 10px;
    color: rgb(255, 255, 255);
}
.phone a
{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.footer_ikon
{
    display: flex;
    justify-content: space-between;
}
@media (max-width:1200px)
{
    .first_page
    {
        margin: 60px 20px;
    }
    .line_one
    {
        height: 26px;
    }
    .bottom_img
    {
        max-height: 300px;
        margin: 0 auto;
    }
    .ikon_field 
    {
        justify-content: center;
        gap: 45px;
    }
    .aboutUs
    {
        margin: 0 20px;
    }


}
@media (max-width:850px)
{
    .eclips_one
    {
        width: 200px;
        height: 200px;
    }
    .eclips_two
    {
        width: 200px;
        height: 200px;
    }
}
@media (max-width:500px)
{
    .top
{
    max-width: 1400px;
    margin: 0 auto;
    box-sizing:border-box;
    height:260px;
    background: url(./image/mobil\ boat.png);
    background-position: center;
    background-size:cover;
    background-repeat:no-repeat;
    left: 0;
    top: 0;    
}
    .head_desk
    {
        display: none;
    }
    .head_mobil
    {
        display: flex;
        height: 30px;
        background-color: #062F35;
    }
    .ikon
    {
        justify-content: left;
    }
    .ikon_logo
    {
        margin: 8px 17px;
        width: 26px;
        height: 14px;
    }
    .faq_item
    {
        display: none;
    }
    .first_page
    {
        margin: 20px 16px 0 ;
    }
    .content_desk
    {
        display: none;
    }
    .content_mobil
    {
        display: block;
    }
    .first_page_title
    {
        max-width: 220px;
    }
    .first_page_title span
    {
        max-width: 220px;
    }
    .first_page_description
    {
        margin-top: 5px;
        max-width: 220px;
    }
    .btn
    {
        border-radius:5px;
        padding: 5px 15px;
    }
    .btn_first
    {
        margin-top: 10px;
    }
    .aboutUs
    {
        margin: 0 16px;;
    }
    .aboutUs_descr_desk
    {
        display: none;
    }
    .aboutUs_descr_mobil
    {
        margin-top: 5px;
        display: block;
    }
    .btn_two
    {
        margin-top: 10px;
        margin-left: 40px;
    }
    .gen_head
    {
        text-transform:none;
        margin-top: 25px;
        margin-bottom: 12px;
    }
    .eclips_one
    {
        top: 33px;
        width: 150px;
        height: 150px;
    }
    .eclips_two
    {
        top: 233px;
        left: 200px;
        width: 150px;
        height: 150px;
    }

    .aboutUs_video
    {
        width: 260px;
        height: 100px;
        border-radius: 0;
        margin-top:26px;
    }
    .aboutUs_content
    {
        max-width: 220px;
        margin-top:26px;
    }
    .aboutUs_content
    {
        margin-left: 9px;
    }
    .line_one
    {
        display: none;
    }
    .line_two
    {
        display: none;
    }
    .bottom_img
    {
        max-width: 500px;
        max-height: 90px;
    }
    /*-----------------*/
    .ikon_field 
    {
        display: none;
    }
    .ikon_field_mobil
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .ikon_row
    {
        width: 370px;
        display:flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }
    .row_one
    {
        justify-content: space-between;
    }
    .row_two
    {
        justify-content: space-evenly;
        max-width: 260px;
    }
    .ikon_line
    {
        height: 65px;
        border-left:1px solid rgb(0, 0, 0) ;
    }
    .ikon_mobilItem
    {
        width: 15px;
        height: 20px;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .ikon_mobilItem_one
    {
        background-image: url(./image/люди.png);
    }
    .ikon_mobilItem_two
    {
        background-image: url(./image/лодка.png);
    }
    .ikon_mobilItem_three
    {
        background-image: url(./image/лодка.png);
        margin: 0 10px;
    }
    .ikon_mobilItem_four
    {
        background-image: url(./image/4.png);
    }
    .ikon_mobilItem_five
    {
        background-image: url(./image/5.png);
    }
    .ikon_mobilItem_sex
    {
        background-image: url(./image/6.png);
        margin: 0 10px;
    }
    .bottom_img
    {
        margin: 20px auto 20px;
    }
    .next
    {
        padding-bottom: 20px;
    }
    .two
    {
        display: none;
    }
    footer
    {
        display: flex;
        height: 100px;
        justify-content: space-between;
        margin: 0 auto;
        padding-top: 0;
        

    }
    .footer
    {   
        margin: 10px 16px;
        width: 380px;
    }
    .logo_footer 
    {
        width: 20px;
        height: 10px;
    }
    .menu_footer
    {
        gap: 5px;
    }
    .face
    {
        width: 40px;
        height: 40px;
    }
    .inst
    {
        width: 40px;
        height: 40px;
    }
    .yout
    {
        width: 40px;
        height: 40px;
    }

}